@import '~base';

// Rules Seggings ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.huntr-admin {
  min-width: $tablet-width;
}

// All Rules ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.table-rules {
  th,
  td {
    text-align: center;

    &:first-child {
      text-align: left;
    }
  }
}

.table-actions {
  width: 170px;
}


// Remove Rules :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.remove-rule-page {
  .table {
    margin-bottom: $spacing;
  }
}

.table-info {
  width: 180px;
  background: $gray-lighter;
  text-align: right;
  font-weight: 600;
}
