// Page settings ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$page-width: 1000px;
$tablet-width: 720px;
$mobile-width: 480px;

$padding: 20px;
$spacing: 20px;
$radius: 5px;
$shadow: 0 2px 8px -1px rgba(#000, .2);
$font-family: 'Roboto', sans-serif;
$font-size: 16px;


// Colors :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// Green scale
$green: #4CAF50;
$green-dark: darken($green, 15);
$green-light: lighten($green, 20);

// Blue scale
$blue-darkest: #0D4AA0;
$blue-dark: #1976D2;
$blue: #2196F3;
$blue-light: #64B5F6;

// Yellow scale
$yellow: #FFB300;
$yellow-dark: darken($yellow, 15);
$yellow-light: lighten($yellow, 20);

// Orange scale
$orange: #F37B20;
$orange-dark: darken($orange, 15);
$orange-light: lighten($orange, 20);

// Red scale
$red: #F44336;
$red-dark: darken($red, 15);
$red-light: lighten($red, 20);

// Gray scale
$black: #111;
$gray-darker: #333;
$gray-dark: #666;
$gray: #999;
$gray-light: #CCC;
$gray-lighter: #EEE;
$white: #FFF;

// Outline
$outline-color: #55C4F7;


// Text colors ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$text-color: $gray-dark;
$text-color-dark: $gray-darker;
$text-color-light: $gray;

// link color
$link-color: $blue;
$link-color-over: $yellow;


// Form configs :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
// $input-height: 42px;
$field-size: 45px;
$field-padding: 6px 12px;

