@import 'base.scss';


// Media queries breakpoints ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
@mixin breakpoint($point) {
  @if $point == tablet {
    @media (max-width: $tablet-width) {
      @content;
    }
  }

  @if $point == mobile {
    @media (max-width: $mobile-width) {
      @content;
    }
  }
}


// Text ellipsis ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
@mixin ellipsis ($max-width: 100%) {
  display: block;
  max-width: $max-width;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}


// Structure Mixins :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
@mixin clearfix {
  &:after {
    display: block;
    content: '';
    clear: both;
  }
}


/**
* @param {flex-align} [$align-items = center] - define align-items property for flex blocks
* @param {flex-align} [$justify-content = center] - define justify-content property for flex blocks
* @param {flex-direction} [$flex-direction = row] - define flex-direction property for flex blocks
**/
@mixin flex($align-items: center, $justify-content: center, $flex-direction: row) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}


/**
* @param {property} $property - define wich property will receive the transition effect
* @param {time|milliseconds} $timing - define time of the transition
* @param {type} $type - define the tipe of the cubic-bezier animation in transition effect
**/
@mixin transition($property: all, $timing: .2s, $type: ease-in-out) {
  transition: $property $timing $type;
}

/**
* @param {color} $label-color - color of the label
* @param {color} [$input-border-color = $gray-light] - border-color of the input
**/
@mixin input-focus($label-color: #999, $input-border-color: $gray-light) {
  .label {
    font-size: 12px;
    top: 5px;
    color: $label-color;
  }

  .input {
    border-color: $input-border-color;
  }
}


/**
* @param {color} $text-color - color of text inside button
* @param {color} $background-color - color of button background
* @param {boolean} [$reverse] - define if the button will have background and text color switched
**/
@mixin btn-skin($background-color, $text-color: #FFF, $reverse: false) {
  @include transition;
  border-color: $background-color;

  @if $reverse {
    color: $background-color;
    background: transparent;
  }

  @else {
    color: $text-color;
    background: $background-color;
  }

  &:hover,
  &:focus,
  &.hover,
  &.focus {
    color: $text-color;
    background: darken($background-color, 5);
    border-color: darken($background-color, 5);
    box-shadow: 0 4px 15px rgba($background-color, .8);
  }

  &:active,
  &.active {
    color: $text-color;
    background: darken($background-color, 10);
    border-color: darken($background-color, 10);
    box-shadow: 0 2px 10px rgba(#000, .2) inset;
  }

  &.loading {
    background: ligthen($background-color, 20);
  }
}
