@import '~mixins';


// Input ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
%input {
  @include transition;
  height: $field-size;
  padding: $field-padding;
  font-size: $font-size;
  color: $gray-dark;
  background-color: $white;
  background-image: none;
  border: 1px solid $gray-light;
  border-radius: $radius;
  box-shadow: inset 0 2px 10px rgba(#000, .1), 0 0 0 transparent;

  &.disabled,
  &.readonly,
  &[disabled],
  &[readonly] {
    background-color: $gray-lighter;
    opacity: 1;

    &.focus,
    &:focus {
      border-color: $gray-light;
      outline: 0;
      box-shadow: inset 0 2px 10px rgba(#000, .1), 0 0 0 transparent;
    }
  }

  &.readonly,
  &[readonly] {
    cursor: default;
  }

  &.disabled,
  &[disabled] {
    cursor: not-allowed;
  }

  &.focus,
  &:focus {
    border-color: $outline-color;
    outline: 0;
    box-shadow: inset 0 0 0 transparent, 0 0 8px rgba($outline-color, .6);
  }
}
