@import 'base';

// Global and pseud-elements ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  color: $white;
  background: $blue;
}

::placeholder {
  color: $gray-light;
}

// HTML elemnts :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
body {
  font-family: $font-family;
  font-size: $font-size;
  color: $black;
  background: $white;
  -webkit-font-smoothing: antialiased;
}

a {
  color: $blue;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $orange;
  }
}

fieldset {
  border-radius: $radius;
}

table {
  border-collapse: collapse;
  width: 100%;
}
