
// Boxes ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.box-content {
  padding: $padding;
  margin-bottom: $padding;
  border: 1px solid darken($gray-lighter, 10);
  background: $white;
}

.box-shadow {
  @extend .box-content;
  box-shadow: $shadow;
}


// Titles :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.page-title {
  margin-top: 10px;
  padding-bottom: 5px;
  border-bottom: 1px dotted $gray-light;
}


// Text aligns ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}
