// Global includes ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
@import 'base.scss';

// Reset browsers styles
@import 'normalize.scss';
@import 'reset.scss';

// Helpers and mixins
@import 'mixins.scss';
@import 'placeholder.scss';
@import 'utils.scss';

// Elements
@import 'elements.scss';


// Element configs ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
body {
  color: $text-color;
  background: lighten($gray-lighter, 4);
}

.main {
  @extend .box-content;
  margin: $padding;
}
