@import '../../styles/_placeholder.scss';

// Seggings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$tag-size: 26px;


.tag-container {
  @extend %input;
  flex: 1;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  height: auto;
  min-height: $field-size;
  padding: 5px 8px;
}

.tag-item {
  background: $blue;
  margin: 2px;
  padding: 0 6px;
  height: $tag-size;
  line-height: $tag-size;
  border-radius: $radius;
  color: $white;
  font-size: 12px;
}

.tag-remove {
  width: 14px;
  margin-left: 5px;
  padding: 0;
  border: 0;
  outline: 0;
  line-height: 14px;
  background: transparent;

  svg {
    width: 100%;
  }
}

.tag-input {
  flex: 1;
  width: 20px;
  height: $tag-size;
  border: 0;
  outline: 0;
  margin-left: 5px;
}
