@import '~mixins';

// Default configs ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$btn-size: $field-size;
$btn-radius: $btn-size;
$btn-padding: 10px 20px;
$btn-border: 2px;
$btn-color: #FFF;
$btn-bg: $gray;
$svg-size: 24px;
// Default configs ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// Buttons ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// Base styles
// button,
.btn {
  min-width: $btn-size;
  height: $btn-size;
  margin: 2px;
  padding: $btn-padding;
  border: 2px solid transparent;
  border-radius: $btn-radius;
  font-weight: normal;
  user-select: none;
  white-space: nowrap;
  outline: 0;

  &:not(button) {
    @include flex;

    &.icon {
      svg {
        top: 0;
      }
    }
  }

  &.disabled,
  &[disabled],
  fieldset[disabled] {
    &,
    &:active,
    &.active,
    &:hover,
    &.hover,
    &:focus,
    &.focus {
      cursor: not-allowed;
      color: $gray;
      background: $gray-lighter;
      border: 2px solid $gray-light;
      box-shadow: none;
    }
  }

  &.icon {
    padding: $btn-padding;

    svg {
      position: relative;
      top: -2px;
      left: -2px;
    }
  }

  &.only-icon {
    width: $btn-size;
    padding: 7px;
    font-size: 0;
  }

  // Icons default size
  svg {
    width: $svg-size;
    height: $svg-size;
  }
}

//
// Success appears as green
.btn-success {
  @include btn-skin($green);
}

.btn-success-stroke {
  @include btn-skin($green, $reverse: true);
}

// Info appears as blue-green
.btn-info {
  @include btn-skin($blue-dark);
}

.btn-info-stroke {
  @include btn-skin($blue-dark, $reverse: true);
}

// Warning appears as orange
.btn-warn {
  @include btn-skin($yellow);
}

.btn-warn-stroke {
  @include btn-skin($yellow, $reverse: true);
}

// Danger and error appear as red
.btn-error {
  @include btn-skin($red-dark);
}

.btn-error-stroke {
  @include btn-skin($red-dark, $reverse: true);
}

// Danger and error appear as red
.btn-clean {
  @include btn-skin($gray-light, $gray-darker);
}

//
a.btn {
  text-decoration: none;

  &.disabled,
  fieldset[disabled] & {
    pointer-events: none; // Future-proof disabling of clicks on `<a>` elements
  }
}


// Link buttons :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// Make a button look and behave like a link
.btn-link {
  color: $link-color;
  font-weight: normal;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &[disabled],
  fieldset[disabled] & {
    background-color: transparent;
  }

  &,
  &:hover,
  &:focus,
  &:active {
    border-color: transparent;
  }

  &:hover,
  &:focus {
    color: $link-color-over;
    text-decoration: underline;
    background-color: transparent;
  }

  &[disabled],
  fieldset[disabled] & {
    &:hover,
    &:focus {
      text-decoration: none;
    }
  }
}


// Block button :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.btn-block {
  display: block;
  width: 100%;
}

// Vertically space out multiple block buttons
.btn-block + .btn-block {
  margin-top: 5px;
}

// Specificity overrides
input[type='submit'],
input[type='reset'],
input[type='button'] {
  &.btn-block {
    width: 100%;
  }
}
