// Form elements ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

// Label
label {
  display: inline-block;
  font-weight: bold;
}


// Form groups ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.form-group {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  // Align group items
  &.left {
    justify-content: flex-start;
  }

  &.center {
    justify-content: center;
  }

  &.right {
    justify-content: flex-end;
  }

  // Vertical direction
  &.vertical {
    flex-direction: column;
    align-items: stretch;

    label {
      width: auto;
      text-align: left;
    }
  }


  // Grouped items ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
  label {
    width: 160px;
    text-align: right;
    margin-right: 10px;
  }

  select,
  .select,
  .input {
    flex: 1;
  }
}
