
// Default configs ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$table-cell-padding: 8px !default;
$table-condensed-cell-padding: 5px !default;
$table-bg: transparent !default;
$table-bg-accent:  #F9F9F9 !default; // Background color used for `.table-striped`.
$table-bg-hover:  #F3F3F3 !default;
$table-bg-active:  $table-bg-hover !default;
$table-border-color:  #DDD !default;
// Default configs ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


// Defalt element styles ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
caption {
  padding: $table-cell-padding 0;
  color: $text-color;
  text-align: left;
  font-size: 1.5em;
}

th {
  text-align: left;
}

// Table :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// Baseline styles
// table,
.table {
  width: 100%;
  max-width: 100%;
  background: #FFF;

  // Cells
  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        padding: $table-cell-padding;
        line-height: 1.5;
        vertical-align: middle;
        border-top: 1px solid $table-border-color;
      }
    }
  }

  // Bottom align for column headings
  > thead > tr > th {
    vertical-align: bottom;
    border-bottom: 1px solid $table-border-color;
  }

  // Remove top border from thead by default
  > caption + thead,
  > colgroup + thead,
  > thead:first-child {
    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }

  // Account for multiple tbody instances
  > tbody + tbody {
    border-top: 2px solid $table-border-color;
  }
}


// Bordered version :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// Add borders all around the table and between all the columns.
.table-bordered {
  border: 1px solid $table-border-color;

  > thead,
  > tbody,
  > tfoot {
    > tr {
      > th,
      > td {
        border: 1px solid $table-border-color;
      }
    }
  }

  > thead > tr {
    > th,
    > td {
      border-bottom-width: 2px;
    }
  }
}


// Zebra-striping :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
  > tbody > tr:nth-of-type(odd) {
    background-color: $table-bg-accent;
  }
}


// Hover effect :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
//
// Placed here since it has to come after the potential zebra striping
.table-hover {
  > tbody > tr {
    transition: background-color .2s linear;

    &:hover {
      background-color: $table-bg-hover;
    }
  }
}
