@import '~placeholder';


// Settings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$track-size: 10px;
$track-color: $gray-light;
$track-color-active: $blue;
$thumb-size: 20px;
$thumb-color: $blue-dark;
$outline-color: $outline-color;


// Input Range ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.range {
  height: $track-size;
  border-radius: $track-size;
  background-color: $track-color;
  background-image: linear-gradient($track-color-active, $track-color-active);
  background-size: 50% 100%;
  background-repeat: no-repeat;

  // Rage bar
  // &::-webkit-slider-runnable-track { }

  // Rage button
  &::-webkit-slider-thumb {
    width: $thumb-size;
    height: $thumb-size;
    border-radius: $thumb-size;
    background: $thumb-color;
    cursor: pointer;
    transition: all ease .2s;
    /* stylelint-disable */
    -webkit-appearance: none;
    /* stylelint-enable */
  }

  &:focus {
    outline: none;
    box-shadow: 0 0 6px rgba($outline-color, 1);
    border: 1px solid $outline-color;

    &::-webkit-slider-thumb {
      transform: scale(1.15);
      box-shadow: 0 0 6px rgba($outline-color, 1);
    }
  }
}

// From group
.form-group {
  .range {
    flex: 1;
  }

  .range-output {
    max-width: 80px;
    margin: 0 0 0 10px;
    text-align: center;
  }
}
