@import '~mixins';

// Header Seggings ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$header-color: $gray-lighter;
$header-bg: $blue-dark;
$menu-color: $gray-lighter;
$menu-color-active: $yellow;
$header-height: 50px;
$header-border: 1px solid darken($header-bg, 10);
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


.header {
  display: flex;
  height: $header-height;
  background: $header-bg;
  border: $header-border;
  padding: 0 40px;
}

.walmart-logo {
  width: 150px;
}

.header-title {
  display: flex;

  .title {
    margin: 0 30px;
    align-self: center;
    font-size: 18px;
    color: $menu-color;
    font-weight: 500;
  }

  .title-link {
    @include transition;
    color: inherit;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $white;
      text-shadow: 0 0 10px rgba(#FFF, .5);
    }
  }
}

// Menu nav :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.header-menu-nav {
  flex: 1;
  height: 100%;
}

.header-menu-list {
  display: flex;
  height: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-menu-item {
  height: inherit;
  border-right: $header-border;

  &:first-child {
    border-left: $header-border;
  }
}

.header-menu-link {
  @include transition;
  display: flex;
  height: inherit;
  align-items: center;
  padding: 0 20px;
  font-size: 14px;
  text-decoration: none;
  color: $menu-color;

  &:hover {
    background: lighten($header-bg, 5);
    color: $white;
  }

  &.active {
    background: darken($header-bg, 2);
    color: $menu-color-active;
    box-shadow: 0 2px 10px rgba(#000, .2) inset;
    cursor: default;
  }
}
