.m-calendar {
  table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }

  td {
    padding: 10px 0;
    text-align: center;
    border: 1px solid $gray-light;
  }

  thead {
    td {
      color: $base-color;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 14px;
    }
  }

  tbody {
    td {
      @include transition;
      cursor: pointer;

      &:hover {
        color: $white;
        background: $base-color;
      }
    }

    .next-month,
    .prev-month {
      color: $gray-light;
    }
  }

  .current-day {
    color: $white;
    background: $base-color;
    font-weight: 700;
  }

  .toolbar {
    line-height: 30px;
    color: $base-color;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;

    .prev-month,
    .next-month {
      width: 30px;
      height: 30px;
      line-height: 26px;
      font-size: 26px;
      color: $white;
      background: $base-color;
      border-radius: 50%;
      border: 0;
      padding: 0;
      outline: 0;

      i {
        font-size: 21px;
        line-height: 32px;
      }
    }
  }
}
