@import '~mixins';

// Component Seggings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$width: 350px;
$height: 320px;
$base-color: $blue-dark;
$btn-size: $field-size;
// Component Seggings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::

@import 'calendar';
@import 'time';
@import 'slider';


.date-time {
  display: flex;
  flex-direction: column;
  width: $width;
  padding: $spacing;
  background: $white;
  border-radius: $radius;
  border: 1px solid $gray-light;
  box-shadow: $shadow;
}

// Options
.date-time-options {
  display: flex;
  margin-bottom: 10px;
}

.date-time-option {
  @include transition;
  flex: 1;
  height: $btn-size;
  padding: 11px 20px;
  color: $base-color;
  background: $white;
  border: 2px solid $base-color;
  border-radius: $btn-size;
  user-select: none;
  outline: 0;

  &.is-active {
    color: $white;
    background: darken($base-color, 0);
    box-shadow: 0 2px 10px rgba(#000, .2) inset;
  }

  &:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  &:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  svg {
    position: relative;
    top: -2px;
    left: -2px;
    width: 20px;
    height: 20px;
  }
}

// Tabs
.date-time-tabs {
  display: flex;
  align-items: center;
  height: $height;
  margin-bottom: 10px;
}

.date-time-tab {
  display: none;

  &.is-active {
    display: block;
  }
}

// Actions
.date-time-actions {
  display: flex;
  justify-content: space-between;

  .btn {
    width: 45%;
  }
}
