// Seggings :::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$slider-handle: 20px;
$slider-size: 4px;

// Component Style ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
.u-slider-time {
  position: relative;
  display: inline-block;
  width: 100%;
  height: $slider-size;
  border-radius: $radius;
  background-color: $gray-light;
  cursor: pointer;

  .value {
    position: absolute;
    top: 0;
    height: 100%;
    background-color: $base-color;
    border-radius: $radius;
  }

  .handle {
    position: absolute;
    width: $slider-size;
    height: $slider-size;

    &:after {
      position: relative;
      display: block;
      content: '';
      top: ($slider-handle - $slider-size) / -2;
      left: $slider-handle / -2;
      width: $slider-handle;
      height: $slider-handle;
      background-color: $base-color;
      border-radius: 50%;
    }
  }
}
