.m-time {
  flex: 1;

  .showtime {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .separater {
    width: 30px;
    height: 65px;
    font-size: 32px;
    font-weight: 700;
    color: $base-color;
    line-height: 65px;
    text-align: center;
  }

  .time-text {
    position: relative;
    font-size: 15px;
    color: $base-color;
    margin: 20px 0 5px;

    &:first-child {
      margin-top: 0;
    }
  }

  .sliders {
    padding: 10px;
  }

  .time {
    width: 65px;
    height: 65px;
    font-size: 38px;
    line-height: 65px;
    color: $base-color;
    border: 1px solid $base-color;
    text-align: center;
    border-radius: $radius;
  }
}
