@import '~base';

// Footer Seggings ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::
$footer-bg: $gray-lighter;
$footer-height: 40px;
// ::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::::


.cart-footer {
  height: $footer-height;
  background: $footer-bg;
  border-top: 1px solid $gray-light;
  border-bottom: 1px solid $gray-light;
}

.footer-text {
  margin: 0;
  font-size: 12px;
  line-height: $footer-height;
  text-align: center;
}
